@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

/* ------------------- VARS ------------------- */
:root {
    --color-principal-one   : #EC7100;
    --color-principal-two   : #EC811D;
    --color-principal-three : #C16510;

    --color-dark-one        : #383838;
    --color-dark-two        : #4A4A4A;
    --color-dark-three      : #5E5E5E;

    --color-light-one       : #EAEAEA;
    --color-light-two       : #E4E4E4;
    --color-light-three     : #F5F5F5;

    --box-shadow-buttom     : 0 2px 14px 0 rgba(193, 101, 16, 0.2);
    --box-shadow-top        : 0 -2px 14px 0 rgba(193, 101, 16, 0.2);
    --box-shadow-card       : 7px 7px 3px -2px rgba(94, 94, 94, 0.5);   

    --font-title-signika    : 'Signika', sans-serif;
    --font-content-karla    :  'Karla', sans-serif;

    --size-8                : 8px;
    --size-10               : 10px;
    --size-12               : 12px;
    --size-14               : 14px;
    --size-18               : 18px;
    --size-24               : 24px;
    --size-36               : 36px;
    --size-48               : 48px;
}


/* ------------------- GENERALS ------------------- */
/* NORMALIZE ALT */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* WRAPPER */
.mathfuntions {
    margin-left: auto;
    margin-right: auto;
    max-width: 325px;
    width: 100%;
}
@media screen and (min-width: 700px) {
    .mathfuntions {
        max-width: 600px;
    }
}
@media screen and (min-width: 1024px) {
    .mathfuntions {
        max-width: 1200px;
    }
}
/* BODY - ROOT */
body {
    background: var(--color-dark-two);
}
#root {
    height: 100vh;
    display: grid;
    grid-template-rows: 3fr 1fr;
}
main.main {
    margin-top: 3.5rem;
    margin-bottom: 1rem;
    width: 100%;
    /* grid-column-start: 1;
    grid-column-end: 2; */
}
@media screen and (min-width: 1024px) {
    main.main {
        margin-top: 5.5rem;
    }
}
/* SCROLL */
html::-webkit-scrollbar {
    background: var(--color-dark-two);
    width: .5rem;
    height: .5rem;
}
html::-webkit-scrollbar-thumb {
    background: var(--color-light-one);
    border-radius: 1rem;
}
/* LINE SEPARATION SECTIONS */
.separation-section {
    height: 1px;
    width: 100%;
    background: var(--color-light-two);
    margin: 1rem 0;
}
/* MARGINS */
.m-t-1rem {
    margin-top: 1rem;
}
.m-l-1rem {
    margin-left: 1rem;
}
.m-r-1rem {
    margin-right: 1rem;
}
.m-b-1rem {
    margin-bottom: 1rem;
}

/* ------------------- HEADER ------------------- */
header {
    top: 0;
    width: 100%;
    height: 50px;
    position: fixed;
    background: var(--color-dark-one);
    box-shadow: var(--box-shadow-buttom);
    z-index: 30;
}
/* CONTAINER ALL IN ONE */
.container-content-header {
    height: 100%;
    display: flex;
    align-items: center;
}
/* CONTAINER LOGO */
.isopo-header {
    width: 25%;
}
.isopo-header img {
    width: 100%;
}
/* CONTAINER MENU HAMBURGUESA */
.menu-hamburguesa {
    width: 10%;
    margin-left: 70%;
}
.menu-hamburguesa img {
    width: 100%;
    transition: transform .6s;
}
.menu-hamburguesa img.rotation {
    transform: rotate(270deg);
}
/* CONTAINER OF THE LINKS */
.container-funtions-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    width: 50vw;
    height: 90vh;
    margin: 0;
    padding: 1rem;
    z-index: 30;
    
    top: 3rem;
    right: -100%;
    
    transition: right .8s;
    position: absolute;
    background: var(--color-dark-one);
    border-radius:  0 0 0 1rem;
    border-bottom: 1px solid var(--color-dark-three);
    border-left: 1px solid var(--color-dark-three);
}
/* CONTAINER WITH ACTIVE */
.container-funtions-header.active {
    right: 0;
    transition: right .4s;
}
/* STYLES OF THE LIST OF THE LINKS */
.container-funtions-header p {
    margin: 6px 0;
    width: 100%;
    position: relative;
    border-bottom: 1px solid var(--color-principal-three);
}
/* MARKUP "a" */
.container-funtions-header p a{
    font-family: var(--font-title-signika);
    font-size: var(--size-14);
    color: var(--color-light-three);
    text-decoration: none;
}
.container-funtions-header p a:hover {
    color: var(--color-principal-one);
}
/* ** SCREEN TABLET OR MEDIUM ** */
@media screen and (min-width: 700px) {
    .isopo-header {
        width: 10%;
    }
    .menu-hamburguesa {
        width: 5%;
        margin-left: 85%;
    }
}
/* ** SCREEN DESKTOP OR BIG ** */
@media screen and (min-width: 1024px) {
    header {
        height: 70px;
    }
    .isopo-header {
        width: 20%;
    }
    .menu-hamburguesa {
        display: none;
    }
    .container-funtions-header {
        top: 0;
        right: 0;
        padding: 0;
        margin-left: 50%;
        position: relative;
        width: 70%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr );
        column-gap: 1rem;
        border: none;
    }
    .container-funtions-header p {
        border: none;
        margin: auto 0;
        text-align: center;
    }
    .container-funtions-header p a {
        font-size: var(--size-18);
    }
}



/* ------------------- FOOTER ------------------- */
/* fATHER */
footer {
    width: 100%;
    padding: 1rem 0;
    background: var(--color-dark-one);
    box-shadow: var(--box-shadow-top);
}
/* STYLES OF THE TITLE OF THE SECTIONS */
.container-content-footer h2 {
    margin-top: 1rem;
    color: var(--color-principal-three);
    font-family: var(--font-title-signika);
    font-size: var(--size-18);
}
/* quita el margin-top o todo para movil */
.mathfuntions .container-content-footer:nth-child(1) h2 {
    margin: 0;
}
/* STYLES OF THE LINKS AND DESCRIPTION */
.container-content-footer p a,
.container-content-footer p {
    margin-top: 4px;
    text-decoration: none;
    color: var(--color-light-three);
    font-family: var(--font-content-karla);
    font-size: var(--size-14);
}
/* HOVER OF THE LINK */
.container-content-footer p a:hover {
    color: var(--color-principal-one);
}
/* STYLES OF THE TITLES OF THE SECIONS FOR THE AFTER ICON */
.title-social-media ,
.title-about-me,
.title-information { 
    display: flex; 
    align-items: center;
}
/* STYLES GENERAL OF THE AFTER ICON */
.title-social-media::after,
.title-about-me::after,
.title-information::after {
    content: '';
    display: block;
    background-size: contain;
    margin-left: 3%;
}
/* STYLES OF THE ONE A ONE THE AFTER ICON */
/* ....Cambiar la url despues en el proyecto.... */
.title-social-media::after {
    background-image: url(https://raw.githubusercontent.com/eliud-cesar/database-math-funtins/672c238e03fc763769ae2f3cc24210ad588dec68/Icons/Group.svg);
    height: 10px;
    width: 10px;
}
.title-about-me::after {
    background-image: url(https://raw.githubusercontent.com/eliud-cesar/database-math-funtins/672c238e03fc763769ae2f3cc24210ad588dec68/Icons/Group%205.svg);
    height: 15px;
    width: 15px;
}
.title-information::after {
    background-image: url(https://raw.githubusercontent.com/eliud-cesar/database-math-funtins/672c238e03fc763769ae2f3cc24210ad588dec68/Icons/Vector.svg);
    height: 15px;
    width: 15px;
}
/* @ the nickname */
.portfolio::before {
    content: '@ ';
}
/* ** SCREEN TABLET OR MEDIUM ** */
/* In the Ipad, not custom styles */

/* ** SCREEN DESKTOP OR BIG ** */
@media screen and (min-width: 1024px) {
    .container-footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .container-content-footer h2 {
        margin: 0;
    }
}



/* ------------------- PAGE MASTER ------------------- */
/* TITLE PAGE MASTER */
.title-page-master {
    text-align: center;
    color: var(--color-principal-two);
    font-family: var(--font-title-signika);
    font-size: var(--size-36);
}
/* DESCRIPTION */
.description-page-master {
    color: var(--color-light-three);
    font-family: var(--font-content-karla);
    font-size: var(--size-14);
}
/* CONTAINER GRID CARDS FUNTIONS */
.grid-pages-master {
    display: grid;
    gap: .5rem;
    margin-top: 1rem;
}
/* STYLES OF THE CARD */
.card-master-presentation-funtion {
    padding: 8px;
    border-radius: 4px;
    background: var(--color-dark-one);
}
/* LINK TO PAGE FOR FUNTION */
.card-master-presentation-funtion a {
    text-decoration: underline;
    color: var(--color-principal-two);
    font-family: var(--font-content-karla);
    font-size: var(--size-12);
}
/* LINK IN THE HOVER */
.card-master-presentation-funtion a:hover {
    color: var(--color-light-three);
}
/* MARGIN IN THE IMG AND TITLE OF THE CARD */
.card-master-presentation-funtion h2 {
    margin-bottom: 4px;
}
/* IMG IN THE CARD */
.card-master-presentation-funtion img {
    width: 100%;
}
/* DESCRIPTION IN THE CARD */
.card-master-presentation-funtion p {
    color: var(--color-light-three);
    font-family: var(--font-content-karla);
    font-size: var(--size-14);
}

/* ** SCREEN TABLET OR MEDIUM ** */
@media screen and (min-width: 700px) {
    /* DESCRIPTION FOR THE PAGE MASTER */
    .description-page-master {
        text-align: center;
    }
    /* CONTAINER GRID OF THE LINK TO PAGE FUNTIONS */
    .grid-pages-master {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* ** SCREEN DESKTOP OR BIG ** */
@media screen and (min-width: 1024px) {
    /* TITLE OF THE PAGE MASTER */
    .title-page-master {
        font-size: var(--size-48);
    }
    /* DESCRIPTION OF THE PAGE MASTER */
    .description-page-master {
        font-size: var(--size-18);
    }
    /* CONTAINER GRID OF THE LINK TO PAGE FUNTIONS */
    .grid-pages-master {
        grid-template-columns: repeat(4, 1fr);
    }
    /* LINK OF CARD TO THE PAGE FUNTION */
    .card-master-presentation-funtion a {
        font-size: var(--size-14);
    }
    /* TITLE IF THE CARD */
    .card-master-presentation-funtion h2 {
        margin-bottom: .5rem;
    }
}


/* ------------------- PAGE CONVERT MONEY ------------------- */
/* TITLE */
.title-money-convert {
    display: flex;
    align-items: center;

    color: var(--color-light-three);
    font-size: var(--size-24);
    font-family: var(--font-title-signika);
}
/* ICON AFTER THE TITLE PAGE */
.title-money-convert::after {
    content: '';
    display: block;
    height: 25px;
    width: 25px;
    margin-left: 1rem;
    background: url(https://raw.githubusercontent.com/eliud-cesar/database-math-funtins/672c238e03fc763769ae2f3cc24210ad588dec68/Icons/Dollar.svg) no-repeat;
    background-size: contain;
}
/* FIRST AND SECOND STYLES FORMATION SECTION CONVERT */
.first-section-convert, 
.second-section-convert {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4px;
    margin-top: .5rem;
}
/* SEPARATION IN THE TITLE AND SECTION OF CONVERT MONEY */
.first-section-convert {
    margin-top: 1rem;
}
/* SELECTS */
select {
    width: 100%;
    border-radius: 4px;
    padding: 4px;

    color: var(--color-light-three);
    background: var(--color-dark-one);
    box-shadow: var(--box-shadow-card);
}
/* STYLES OF THE C/U OPTION */
select option {
    font-family: var(--font-content-karla);
}
/* INPUT AND OUTPUY */
.container-input-money.one input,
.container-input-money.two {
    width: 100%;
    padding: 4px;
    border-radius: 4px;
    
    color: var(--color-light-three);
    background: var(--color-dark-one);
    font-family: var(--font-content-karla);
    box-shadow: var(--box-shadow-card);
}
/* CARDS OF INFORMATION */
.cards-iformation {
    display: grid;
    row-gap: 1rem;
    margin-top: 1rem;
}
.card-information-money {
    padding: 8px;
    border-radius: 4px;
    
    color: var(--color-light-three);
    background: var(--color-dark-one);
    font-family: var(--font-content-karla);
    font-size: var(--size-14);
    box-shadow: var(--box-shadow-card);
}
.card-information-money img {
    width: 100%;
    margin-top: 1rem;
    border-radius: 4px;
}
/* ** SCREEN TABLET OR MEDIUM ** */
/* @media screen and (min-width: 700px) {} <- NO CHANGUES FOR MOMENT */

/* ** SCREEN DESKTOP OR BIG ** */
@media screen and (min-width: 1024px) {
    /* TITLE OF THE PAGE */
    .title-money-convert {
        font-size: var(--size-36);
    }
    /* ICON AFTER THE TITLE OF THE PAGE */
    .title-money-convert::after {
        width: 40px;
        height: 40px;
    }
    /* INPUT AND SELECTS */
    select,
    .container-input-money.one input {
        height: 40px;
        font-size: var(--size-14);
    }
    /* INPUT */
    .container-input-money.one input {
        padding-left: 8px;
    }
    /* POSITION OF THE TEXT */
    .container-input-money.two {
        display: flex;
        align-items: center;
        padding-left: 8px;
    }
    /* SEPARATION IN THE GRID OF THE OPCIONS AND CONVERT MONEY */
    .first-section-convert, 
    .second-section-convert {
        grid-gap: 4rem;
    }
    /* GRID OF THE CARDS INFORMATIONS */
    .cards-iformation {
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
    }
    /* THE CARD OF THE INFORMATION */
    .card-information-money {
        font-size: var(--size-14);
        padding: 1rem;
    }
}



/* ------------------- PAGE CIENCIE ------------------- */
/* TITLE FOR PAGE */
.title-page-ciencie {
    display: flex;
    align-items: center;
    color: var(--color-light-three);
    font-family: var(--font-title-signika);
    font-size: var(--size-36);
}
/* ICON FOR TITLE FOR PAGE CIENCIE */
.title-page-ciencie::after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 1rem;
    background: url(https://raw.githubusercontent.com/eliud-cesar/database-math-funtins/672c238e03fc763769ae2f3cc24210ad588dec68/Icons/Matematicas.svg) no-repeat;
    background-size: contain;
}
/* ICON ARRAY */
.icon-array-convert {
    display: none;
}
/* SECCIONS FROM N.C <--> N.E */
.section-notation-ciencie-for-standar,
.section-notation-standar-for-ciencie {
    display: flex;
    align-items: flex-end;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
/* TITLE FOR INPUT AND OUTPUT */
.notation-ciencie h3,
.notation-standar h3 {
    color: var(--color-light-three);
    font-family: var(--font-content-karla);
    font-size: var(--size-14);
    width: 90%;
    text-align: center;
    margin-bottom: 0.5rem;
}
/* TITLE OF THE OUTPUT FIRST SECTION FOR NOTATION STANDAR */
.section-notation-ciencie-for-standar .notation-standar h3 {
    width: 100%;
}
/* NOTATIONS CONTAINER */
.notation-ciencie,
.notation-standar {
    width: 50%;
}
/* INPUTS FOR THE NOTATIONS */
.notation-ciencie input,
.notation-standar input {
    width: 90%;
    height: 1.5rem;
    padding: 4px;
    border-radius: 4px;
    color: var(--color-light-three);
    background: var(--color-dark-one);
    font-family: var(--font-content-karla);
    box-shadow: var(--box-shadow-card);
}
/* INPUT EXPONENTATION */
.input-notation-ciencie-exponentation {
    width: 20%;
    height: 1.5rem;
    margin: 0 .5rem;
    padding: 4px;
    color: var(--color-light-three);
    background: var(--color-dark-one);
    box-shadow: var(--box-shadow-card);
}
/* NUMBER CIENCIE MULTIPLY "x10" */
.notation-ciencie-x10 {
    color: var(--color-light-three);
    font-family: var(--font-content-karla);
    font-size: var(--size-14);
}
/* OUTPUTS OF THE NOTATIONS */
.notation-standar .output-notation-standar,
.notation-ciencie .output-notation-ciencie {
    width: 100%;
    height: 1.5rem;
    padding: 0 4px;
    border-radius: 4px;
    font-family: var(--font-content-karla);
    color: var(--color-light-three);
    background: var(--color-dark-one);
    box-shadow: var(--box-shadow-card);
}
/* TOOLTIP ACTIVE */
.tooltip.active {
    display: block;
}
/* TOOLTPI INACTIVE */
.tooltip {
    display: none;
    position: absolute;
    background: var(--color-principal-three);
    width: 5rem;
    padding: 4px;
    border-radius: 4px;
    top: 14%;
    left: 42%;
    z-index: -20;
}
/* CONTENT TOOLTIP - TEXT */
.tooltip .content-tooltip {
    width: 100%;
    height: 100%;
    z-index: 30;
    background: var(--color-principal-three);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-light-three);
    font-family: var(--font-content-karla);
    font-size: var(--size-12);
}
/* TRIANGLE */
.tooltip .triangle {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 60%;
    left: 50%;
    z-index: -10;
    background: var(--color-principal-three);
    transform: translate(-50%,50%) rotate(45deg);
}
/* CONTAINER INFORMATIONS */
.container-information-page-ciencie {
    border-radius: 4px;
    background: var(--color-dark-one);
    padding: 1rem;
}
/* TITLE INFORMATION */
.content-page-ciencie h2 {
    color: var(--color-principal-two);
    font-family: var(--font-title-signika);
    font-size: var(--size-18);
    margin-bottom: -.5rem;
}
/* CONTENT INFORMATION */
.content-page-ciencie p {
    color: var(--color-light-three);
    font-family: var(--font-content-karla);
    font-size: var(--size-14);
    margin: .8rem 0;
}
/* ** SCREEN TABLET OR MEDIUM ** */
@media screen and (min-width: 700px) {
    /* NUMBER CIENCIE MULTIPLY "x10 */
    .notation-ciencie-x10 {
        margin-right: 1rem;
    }
}
/* ** SCREEN DESKTOP OR BIG ** */
@media screen and (min-width: 1024px) {
    /* TITLE */
    .title-page-ciencie {
        font-size: var(--size-48);
    }
    /* ICON AFTER OF THE TITLE */
    .title-page-ciencie::after {
        width: 40px;
        height: 40px;
    }
    /* NUMBER CIENCIE MULTIPLY "x10 */
    .notation-ciencie-x10 {
        font-size: var(--size-24);
    }
    /* INPUTS, OUTPUTS AND INPUT EXPONENTATIONS */
    .notation-ciencie input,
    .notation-ciencie .output-notation-ciencie,
    .notation-standar input, 
    .notation-standar .output-notation-standar,
    .input-notation-ciencie-exponentation {
        height: 2.5rem;
        margin: 0;
        padding: 1rem;
        display: flex;
        align-items: center;
        font-size: var(--size-18);
        border-radius: 4px;
    }
    /* TITLES INPUTS */
    .notation-standar h3,
    .notation-ciencie h3 {
        font-size: var(--size-18);
    }
    /* ICONS ARRAYS */
    .icon-array-convert {
        width: 4%;
        margin: 0 1rem;
        display: block;
    }
    /* TITLE INFORMATIONS */
    .content-page-ciencie h2 {
        font-size: var(--size-24);
    }
    /* CONTENT INFORMATIONS */
    .content-page-ciencie p {
        font-size: var(--size-14);
    }
    /* TOOLTIP */
    .tooltip {
        width: 5em;
        height: 4em;
        top: 16%;
        left: 46%;
    }
}


/* ------------------- PAGE MATH OPERATIONS ------------------- */
/* TITLE PAGE */
.title-page-math-operations {
    display: flex;
    align-items: center;
    color: var(--color-light-three);
    font-family: var(--font-title-signika);
    font-size: var(--size-24);
}
/* ICON FOR TITLE PAGE */
.title-page-math-operations::after {
    content: '';
    width: 30px;
    height: 30px;
    margin-left: 1rem;
    background: url(https://raw.githubusercontent.com/eliud-cesar/database-math-funtins/672c238e03fc763769ae2f3cc24210ad588dec68/Icons/Funciones.svg) no-repeat;
    background-size: contain;
}
/* CONTAINER - OPTIONS OF OPERATIONS */
.container-options-operations {
    width: 100%;
    margin: 1rem 0;
}
/* TITLE FOR OPTIONS */
.container-options-operations h2 {
    text-align: center;
    margin-bottom: 4px;
    color: var(--color-light-three);
    font-family: var(--font-content-karla);
    font-size: var(--size-18);
}
/* OPTIONS - RECTANGLE SELECT */
.container-options-operations select {
    color: var(--color-light-three);
    font-family: var(--font-content-karla);
}
/* WIDTH FOR CONTAINER IMAGE OF SAME */
.container-section-operations .container-img-igual-operator {
    width: 10%;
}
/* IMAGE SAME */
.container-section-operations .container-img-igual-operator img {
    width: 100%;
}
/* CONTAINER FOR OPERATION */
.container-section-operations {
    width: 100%;
    height: 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}
/* INPUT'S AND OUTPUT */
.container-section-operations input,
.container-section-operations .result-output-math {
    width: 25%;
    height: 100%;
    padding: 4px;
    border: none;
    border-radius: 4px;
    color: var(--color-light-three);
    background: var(--color-dark-one);
    font-family: var(--font-content-karla);
    font-size: var(--size-14);
    box-shadow: var(--box-shadow-card);
}
/* CENTRY OF CONTENT THE OUTPUT AND SEPARATION */
.container-section-operations .result-output-math {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}
/* SEPARATION OF ICON OPERATOR AND INPUT'S */
.container-section-operations input,
.container-section-operations .container-signal-operartor {
    margin-right: 1rem;
}
/* ICON OPERATOR */
.container-section-operations .container-signal-operartor {
    color: var(--color-light-three);
    font-family: var(--font-title-signika);
}
/* CONTAINER BUTTON */
.container-button-start-operation {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}
/* INPUT:SUBMIT */
.container-button-start-operation input {
    width: 70%;
    height: 1.5rem;
    border: none;
    border-radius: 4px;
    color: var(--color-light-three);
    background: var(--color-dark-one);
    border: 1px solid var(--color-dark-three);
    box-shadow: var(--box-shadow-card);
}
/* INPUT:SUBMIT ON CLICK */
.container-button-start-operation input:active {
    border: 1px solid var(--color-principal-two);
}
/* CONTAINER INFORMATIONS OF THE OPERATOR */
.information-operator-math {
    background: var(--color-dark-one);
    padding: 8px;
    border-radius: 4px;
}
/* TITLE OF THE INFORMATION  */
.information-operator-math h3 {
    color: var(--color-principal-one);
    font-family: var(--font-content-karla);
    font-size: var(--size-18);
    margin-bottom: 4px;
}
/* CONTENT OF THE INFORMATION */
.information-operator-math p {
    color: var(--color-light-three);
    font-family: var(--font-content-karla);
    font-size: var(--size-12);
}

/* ** SCREEN TABLET OR MEDIUM ** */
@media screen and (min-width: 700px) {} /* <-- THERE ARE NO CHANGUES */

/* ** SCREEN DESKTOP OR BIG ** */
@media screen and (min-width: 1024px) {
    /* TITLE PAGE */
    .title-page-math-operations {
        font-size: var(--size-36);
    }
    /* ICON FROM PAGE */
    .title-page-math-operations::after {
        width: 40px;
        height: 40px;
    }
    /* CONTAINER OPTIONS */
    .container-options-operations {
        margin-bottom: 2rem;
    }
    /* TITLE OF THE OPTIONS */
    .container-options-operations h2 {
        margin-left: 60%;
    }
    /* SELECT */
    .container-options-operations select {
        width: 40%;
        margin-left: 60%;
        font-size: var(--size-18);
    }
    /* CONTAINER OPERATION */
    .container-section-operations {
        height: 2rem;
    }
    /* INPUT AND OUTPUT */
    .container-section-operations input,
    .container-section-operations .result-output-math {
        height: 2rem;
        font-size: var(--size-18);
        padding: 8px;
    }
    /* ICON SAME */
    .container-section-operations .container-img-igual-operator {
        width: 3%;
    }
    /* SIGNAL OPERATOR */
    .container-section-operations .container-signal-operartor {
        width: 4%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        background: var(--color-dark-one);
        font-size: var(--size-240);
    }
    /* SEPARATION INPUT AND OPERATOR */
    .container-section-operations input,
    .container-section-operations .container-signal-operartor {
        margin-right: 4rem;
    }
    /* SEPARATION OF THE OUTPUT */
    .container-section-operations .result-output-math {
        margin-left: 4rem;
    }
    /* CONTAINER BUTTON */
    .container-button-start-operation input {
        height: 2.5rem;
        font-size: var(--size-18);
    }
    /* TITLE OF THE INFORMATION */
    .information-operator-math h3 {
        font-size: var(--size-24);
    }
    /* CONTENT OF THE INFORMATION */
    .information-operator-math p {
        font-size: var(--size-14);
    }
}



/* ------------------- PAGE GRAPHIC ------------------- */
/* AD BETA */
.container-beta {
    display: none;
}
.container-beta.active {
    display: block;
    margin-top: 3.5rem;
    margin-bottom: -3rem;
    width: 100%;
    height: 1rem;
    background: var(--color-principal-one);
}
.messaje-beta-page-graphic {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-light-three);
    font-family: var(--font-title-signika);
    font-size: 90%;
}
/* TITLE OF THE A SECTION GRAPHIC */
.title-graphic {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
    color: var(--color-light-three);
    font-family: var(--font-title-signika);
    font-size: var(--size-24);
}
/* DESCRIPTION GRAPHIC */
.description-graphic {
    font-family: var(--font-content-karla);
    font-size: var(--size-12);
    text-align: center;
    color: var(--color-light-three);
    margin-bottom: 1rem;
}
/* ORIENTATION */
.circle-graphic {
    justify-content: flex-end;
}
/* PROPS GENERAL OF THE ICON */
.title-graphic::after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
}
/* URL'S OF THE ICON */
.standar-graphic::after {
    background-image: url(https://raw.githubusercontent.com/eliud-cesar/database-math-funtins/672c238e03fc763769ae2f3cc24210ad588dec68/Icons/Grafica.svg);
}
.circle-graphic::after {
    background-image: url(https://raw.githubusercontent.com/eliud-cesar/database-math-funtins/672c238e03fc763769ae2f3cc24210ad588dec68/Icons/Grafica%20circular.svg);
}
/* 2 SECTIONS OF THE GRAPHICS */
.container-standar-graphic,
.container-circle-graphic {
    width: 100%;
    display: grid;
}
/* 2 OUTPUTS ALTS */
.container-standar-graphic-output,
.container-circle-graphic-output {
    width: 100%;
    order: -1;
    margin-bottom: 1rem;
    /* background: gold; */
}
/* 2 CONTAINERS OF THE INPUTS */
.container-input-data-standar,
.container-input-data-circle {
    margin-bottom: 1rem;
}
/* ALL INPUT STYLES */
.container-input-data-standar input,
.container-input-data-circle input {
    width: 100%;
    height: 1.75rem;
    padding: 4px;
    border: none;
    margin-bottom: 4px;
    border-radius: 4px;
    color: var(--color-light-three);
    background: var(--color-dark-one);
    font-family: var(--font-content-karla);
    font-size: var(--size-14);
    border: 1px solid var(--color-principal-three);
    box-shadow: var(--box-shadow-card);
}
.container-input-data-circle,
.container-input-data-standar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4px;
}

.container-input-data-standar input:nth-child(1){ order: 1; }
.container-input-data-standar input:nth-child(2){ order: 3; }
.container-input-data-standar input:nth-child(3){ order: 5; }
.container-input-data-standar input:nth-child(4){ order: 7; }
.container-input-data-standar input:nth-child(5){ order: 2; }
.container-input-data-standar input:nth-child(6){ order: 4; }
.container-input-data-standar input:nth-child(7){ order: 6; }
.container-input-data-standar input:nth-child(8){ order: 8; }
.container-input-data-standar input:nth-child(9){ order: 9; }
.container-input-data-standar input:nth-child(10){ order: 11; }
.container-input-data-standar input:nth-child(11){ order: 13; }
.container-input-data-standar input:nth-child(12){ order: 15; }
.container-input-data-standar input:nth-child(13){ order: 10; }
.container-input-data-standar input:nth-child(14){ order: 12; }
.container-input-data-standar input:nth-child(15){ order: 14; }
.container-input-data-standar input:nth-child(16){ order: 16; }
.button-submit-create-graphic{ order: 17; grid-column: span 2; }

.container-input-data-circle input:nth-child(1){ order: 1; }
.container-input-data-circle input:nth-child(2){ order: 3; }
.container-input-data-circle input:nth-child(3){ order: 5; }
.container-input-data-circle input:nth-child(4){ order: 7; }
.container-input-data-circle input:nth-child(5){ order: 2; }
.container-input-data-circle input:nth-child(6){ order: 4; }
.container-input-data-circle input:nth-child(7){ order: 6; }
.container-input-data-circle input:nth-child(8){ order: 8; }
.container-input-data-circle input:nth-child(9){ order: 9; }
.container-input-data-circle input:nth-child(10){ order: 11; }
.container-input-data-circle input:nth-child(11){ order: 13; }
.container-input-data-circle input:nth-child(12){ order: 15; }
.container-input-data-circle input:nth-child(13){ order: 10; }
.container-input-data-circle input:nth-child(14){ order: 12; }
.container-input-data-circle input:nth-child(15){ order: 14; }
.container-input-data-circle input:nth-child(16){ order: 16; }
.button-submit-create-graphic{ order: 17; grid-column: span 2; }

/* BUTTON FOR CREATE GRAPHIC */
.button-submit-create-graphic {
    border: 1px solid var(--color-principal-one);
    background-color: var(--color-dark-one);
    border-radius: 4px;
    padding: 4px;
    color: var(--color-light-three);
    font-family: var(--font-content-karla);
}

/* ** SCREEN TABLET OR MEDIUM ** */
@media screen and (min-width: 700px) {
    .container-beta.active {
        margin-top: 4.5rem;
    }
    /* 2 CONTAINERS INPUTS */
    .container-input-data-standar {
        margin-top: 1rem;
    }
    .container-input-data-circle,
    .container-input-data-standar {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .container-circle-graphic-output {
        order: 1;
        display: flex;
        justify-content: center;
    }
    .container-standar-graphic-output {
        height: 20em;
    }
    .container-circle-graphic-output,
    .container-standar-graphic-output {
        margin: 0;
    }
    .description-graphic {
        font-size: var(--size-18);
    }
    .button-submit-create-graphic {
        grid-column: span 4;
    }
    /* START AND END OF THE 2 INPUTS WITH TEXTS */
    /* .container-input-data-standar input:nth-child(1) {
        grid-column: 1 / 3;
    }
    .container-input-data-standar input:nth-child(2) {
        grid-column: 3 / 5;
    } */
}
/* ** SCREEN DESKTOP OR BIG ** */
@media screen and (min-width: 1024px) {
    /* SIZE OF 2 TITLES PAGES */
    .title-graphic {
        font-size: var(--size-36);
    }
    /* SIZE OF ICON */
    .title-graphic::after {
        width: 40px;
        height: 40px;
    }
    /* COLUMNS OF THE SECTIONS GRAPHIC */
    .container-circle-graphic,
    .container-standar-graphic {
        column-gap: 2rem;
    }
    .container-standar-graphic {
        grid-template-columns: 3fr 2fr;
    }
    .container-circle-graphic {
        grid-template-columns: 2fr 3fr;
    }
    /* ORDER OF THE CONTAINER GRAPHIC STANDAR */
    .container-standar-graphic-output {
        order: 0;
    }
    .container-circle-graphic-output {
        height: 30em;
    }
    /* 2 CONTAINERS INPUTS */
    .container-input-data-standar {
        margin-top: 0rem;
    }
    .container-input-data-standar ,
    .container-input-data-circle {
        margin: 0;
        height: 60%;
        grid-gap: 1rem;
    }
    /* STYLES OF THE INPUTS */
    .container-input-data-standar input,
    .container-input-data-circle input {
        height: 2rem;
        padding: 1rem;
    }
    .button-submit-create-graphic {
        padding-top: 6px;
        padding-bottom: 6px;
    }
    /* CANVAS */
    canvas.standar {
        height: 20em !important;
        width: 100% !important;
    }
    canvas.circle {
        height: 30em !important;
        width: 80% !important;
    }
}


/* ------------------- PAGE NOT FOUNT ------------------- */
/* TITLE */
.title-404 {
    color: var(--color-light-three);
    font-family: var(--font-title-signika);
    font-size: var(--size-24);
    margin-bottom: 1rem;
}

/* IMAGE */
.image-404 {
    width: 100%;
}

/* DESCRIPTION */
.description-404 {
    color: var(--color-light-three);
    font-family: var(--font-content-karla);
    font-size: var(--size-14);
    text-align: center;
}

/* ** SCREEN TABLET OR MEDIUM ** */
@media screen and (min-width: 700px) {
    /* TITLE */
    .title-404 {
        font-size: var(--size-36);
        text-align: center;
    }
    /* CONTAINER IMAGE */
    .container-image-404 {
        display: flex;
        justify-content: center;
    }
    /* IMAGE */
    .image-404 {
        width: 50%;
    }
    /* DESCRIPTION */
    .description-404 {
        margin-top: 1rem;
        font-size: var(--size-18);
    }
}
/* ** SCREEN DESKTOP OR BIG ** */
/* @media screen and (min-width: 1024px) {}  <-- NO CHANGUES */



/* ------------------- PAGE GEOMETRIC FIGURES ------------------- */
/* TITLE OF THE PAGE */
.title-page-geomtric-figures {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    color: var(--color-light-three);
    font-family: var(--font-title-signika);
    font-size: var(--size-24);
}
/* ICON FROM TITLE */
.title-page-geomtric-figures::after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 1rem;
    background: url(https://raw.githubusercontent.com/eliud-cesar/database-math-funtins/c1920b227a8e6417faaebd2394479ad8a46d90f3/Geometric%20Figures/Juegos-Geometricos.svg) no-repeat;
    background-size: contain;
}
/* CONTAINER OF THE FIGURES */
.container-main-grid-figures {
    display: grid;
    row-gap: 2rem;
}
/* CONTAINER DE LAS IMAGENES, TITLE Y LOGICA */
.container-calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* CONTAINER DE LA LOGICA */
.grid-container-calculator {
    width: 100%;
    display: grid;
}
/* THE GRID DEL ORDEN DE LA LOGICA, INPUTS, TITLES AND OUTPUTS */
.grid-container-calculator.square,
.grid-container-calculator.circle {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4px;
}
.grid-container-calculator.rectangle,
.grid-container-calculator.triangle {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4px;
}
/* START AND END OF THE ORDER OF THE LOGIC */
.grid-container-calculator.rectangle .content-figures:nth-child(1),
.grid-container-calculator.rectangle .content-figures:nth-child(7) {
    grid-column: 1 / 3;
}
.grid-container-calculator.rectangle .content-figures:nth-child(2),
.grid-container-calculator.rectangle .content-figures:nth-child(8) {
    grid-column: 3 / 5;
}
.grid-container-calculator.triangle .content-figures:nth-child(1),
.grid-container-calculator.triangle .content-figures:nth-child(6) {
    grid-column: 1 / 3;
}
.grid-container-calculator.triangle .content-figures:nth-child(2),
.grid-container-calculator.triangle .content-figures:nth-child(5),
.grid-container-calculator.triangle .content-figures:nth-child(7) {
    grid-column: 3 / 5;
}
/* TITLE OF THE CONTAINER */
.container-calculator h3 {
    font-weight: 400;
    margin-bottom: 4px;
    color: var(--color-light-three);
    font-family: var(--font-content-karla);
    font-size: var(--size-18);
}
/* IMAGES OF THE SECTION */
.image-figures {
    width: 60%;
    margin-bottom: 1rem;
}
.img-triangle {
    margin-bottom: -2rem;
}
/* SECTIONS OF THE INPUTS, TITLES AND OUTPUT */
.content-figures {
    width: 100%;
    border-radius: 4px;
    padding: 4px 0 4px 6px;
    color: var(--color-light-three);
    background-color: var(--color-dark-one);
}
.content-figures.title,
.content-figures.output {
    font-family: var(--font-content-karla);
    font-size: var(--size-14);
}

/* ** SCREEN TABLET OR MEDIUM ** */
/* @media screen and (min-width: 700px) {}  <-- NOT CHANGUES */

/* ** SCREEN DESKTOP OR BIG ** */
@media screen and (min-width: 1024px) {
    /* TITLE OF THE PAGE */
    .title-page-geomtric-figures {
        font-size: var(--size-36);
    }
    /* ICON OF THE TITLE */
    .title-page-geomtric-figures::after {
        height: 40px;
        width: 40px;
    }
    /* CONTAINER OF THE FIGURES */
    .container-main-grid-figures {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }
    /* THE GRID DEL ORDEN DE LA LOGICA, INPUTS, TITLES AND OUTPUTS */
    .grid-container-calculator {
        grid-gap: .5rem !important;
    }
    /* TITLE OF THE CONTAINER  */
    .container-calculator h3 {
        font-size: var(--size-24);
        font-weight: 600;
    }
    /* INPUTS, OUTPUTS AND TITLES */
    .grid-container-calculator .content-figures {
        font-size: var(--size-18) !important;
    }
    /* IMAGES OF THE SECTIONS */
    .img-square {
        width: 40%;
    }
    .img-circle {
        width: 50%;
    }
    .img-rectangle {
        width: 88%;
    }
}





/* -------------------  ------------------- */
/* ** SCREEN TABLET OR MEDIUM ** */
@media screen and (min-width: 700px) {}
/* ** SCREEN DESKTOP OR BIG ** */
@media screen and (min-width: 1024px) {}